# fly.toml app configuration file
# See https://fly.io/docs/reference/configuration/

app = 'voo-ward-ussd'
primary_region = 'sea'

[build]
  [build.args]
    NODE_VERSION = '18'

[env]
  PORT = '8080'
  NODE_ENV = 'production'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [[http_service.checks]]
    interval = '15s'
    timeout = '10s'
    grace_period = '5s'
    method = 'GET'
    path = '/health'

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
