[Unit]
Description=Run Voo Ward Sync every 5 minutes
Requires=voo-ward-sync.service

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min
AccuracySec=1s

[Install]
WantedBy=timers.target
